{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock%} {% block content %}

{% if page.hero_primary_text or page.hero_secondary_text or page.hero_primary_cta_text or page.hero_secondary_cta_text %}
<!-- hero section -->
<section class="uk-margin-bottom">
    <div
        class="uk-padding-large uk-padding-remove-horizontal uk-container-small uk-align-center uk-text-center"
    >
        <!-- hero primary texts -->
        <h1
            class="uk-heading-large"
        >
            {{ page.hero_primary_text }}
        </h1>

        <!-- hero secondary texts -->
        <p
            class="" style="margin-bottom: 3rem;"
        >
            {{ page.hero_secondary_text }}
        </p>

        <!-- hero cta buttons -->
        <div
            class="uk-flex uk-flex-center uk-flex-row@s uk-flex-column uk-margin-bottom" style="gap: 1rem;"
        >
            {% if page.hero_primary_cta_link %}
            <!-- primary cta button -->
            <a
                href="{% pageurl page.hero_primary_cta_link %}"
                class="uk-button uk-button-primary"
            >
                {{ page.hero_primary_cta }}
            </a>
            {% endif %}

            {% if page.hero_secondary_cta_link %}
            <!-- secondary cta button -->
            <a
                href="{% pageurl page.hero_secondary_cta_link %}"
                class="uk-button uk-button-default"
            >
                {{ page.hero_secondary_cta }}
            </a>
            {% endif %}
        </div>
    </div>
</section>
<!-- /hero section -->
{% endif %}

<!-- rest of the body content -->
{{ page.body|richtext }} {% endblock content %}
