{% extends "base.html" %}

<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags %} 

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% if page.hero_primary_text or page.hero_secondary_text or page.hero_primary_cta_text or page.hero_secondary_cta_text %}
        <!-- hero section -->
        <section class="bg-white dark:bg-gray-900 mb-4">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 ">
                <!-- hero primary texts -->
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-primary-900 md:text-5xl lg:text-6xl dark:text-white">
                    {{ page.hero_primary_text }}
                </h1>
                <!-- hero secondary texts -->
                <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
                    {{ page.hero_secondary_text }}
                </p>

                <!-- hero cta buttons -->
                <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 not-format">
                    {% if page.hero_primary_cta_link %} 
                        <!-- primary cta button -->
                        <a href="{% pageurl page.hero_primary_cta_link %}" 
                            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                            {{ page.hero_primary_cta }}
                        </a>
                    {% endif %}

                    {% if page.hero_secondary_cta_link %}
                        <!-- secondary cta button -->
                        <a href="{% pageurl page.hero_secondary_cta_link %}" 
                        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                            {{ page.hero_secondary_cta }}
                        </a>  
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- rest of the body content -->
    {{ page.body|richtext }}
{% endblock content %}