[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.1,>=4.2"
wagtail = "<5.3,>=5.2"
gunicorn = "==21.2.0"
psycopg2-binary = "*"
psycopg = "*"
django-compressor = "*"
wagtail-seo = "*"
# wagtail-ai = {extras = ["llm"], editable = true, ref = "main", git = "git+https://github.com/wagtail/wagtail-ai.git"}
wagtail-ai = {extras = ["llm"], version = "*"}
dj-database-url = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"

[dev-packages]

[requires]
python_version = "3.11"
