[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.1,>=4.2"
wagtail = "<5.3,>=5.2"
psycopg2-binary = "*"
psycopg = "*"
django-compressor = "*"
wagtail-seo = "*"
wagtail-ai = {extras = ["llm"], version = "*"}
dj-database-url = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
wagtail-cache = "*"
redis = {extras = ["hiredis"], version = "*"}
django-dbbackup = "*"
django-storages = {extras = ["boto3"], version = "*"}
django-anymail = {extras = ["resend"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
